:root {
  --red: #ee2a36;
  --yellow: #ffca02;

  --blue: #0079c7;
  --blue-accent: #156ee3;
  --blue-light: #5eb8f5;
}

body {
  height: 100vh;
  margin: 0;
}

#root {
  width: 100%;
  height: 100%;
}
