@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.page {
  transition: 1s;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.page.active {
  color: white;
}

.page::before {
  content: '';
  transition: 1s;
  position: absolute;
  width: 100%;
  height: 100%;
  background:
    var(--blue)
    radial-gradient(var(--blue-accent), 19%, transparent 20%);
  background-size: 5em 5em;
  mask-image: radial-gradient(black 50%, transparent 70%);
  mask-position: 50%, 50%;
  mask-size: 0% 0%;
  mask-repeat: no-repeat;
  opacity: 0;
  z-index: -1;
}
.page.active::before {
  mask-position: 50%, 50%;
  mask-size: 200% 200%;
  opacity: 1;
  animation: backgroundanim linear infinite 2s normal forwards;
}

.header {
  text-align: center;
  font-family: 'Roboto';
}

.header * {
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}

.page.active .header h1 span:first-child {
  transition: 1s;
  color: var(--yellow);
}
.page.active .header h1 span:last-child {
  transition: 1s;
  color: var(--red);
}

form.connection {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3em;
}

input.server {
  font-size: 5em;
}

button.connect {
  font-size: 3em;
}

.games {
  position: relative;
  display: flex;
  width: 60vw;
  height: 80vh;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  gap: 10%;
  animation: fadein 2s linear normal forwards;
}

.games::before {
  content: 'Choose a game to spectate';
  position: absolute;
  top: 0;
  font-size: 1.5em;
}

.games .gamecard {
  transition: 0.3s ease;
  background: var(--blue-light);
  border-top: 1em solid var(--blue-accent);
  border-radius: 25px;
  padding: 5% 6%;
  cursor: pointer;
  user-select: none;
}

.games .gamecard:hover {
  transform: scale(1.1);
  filter: brightness(1.1);
}

button.return {
  transition: 0.4s;
  position: absolute;
  top: 2%;
  left: 2%;
  padding: 1%;
  background: var(--red);
  font-size: 1em;
  font-weight: 600;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
button.return:hover {
  transform: scale(1.03);
  filter: brightness(1.2);
}
button.return::before {
  content: '\21a9';
  margin-right: 0.5em;
}

@keyframes backgroundanim {
  from {
    background-position: 5em 5em;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  } to {
    opacity: 1;
  }
}
